button{
  width:150px;
  background-color: #00CCEE;
  margin-left:15px;
  font-size:120%;
}
p{
  border:2px solid black;
	text-align: center;
	margin: 20px;
	width:250px;
}

#stuff{
	text-align: center;
  color:white;
	background-color: #7F7F7F;
}